html, body {height:100%; margin:0; padding:0;}



h1{color:#000;
text-align: center;

}

p{font-size: 80%; color:#000;}

#tracks{
padding-top:100px;
margin:0 auto;
z-index: -1;
}

.track{
  width:20%;
  display:inline-block;
  float:left;
}

.x3dom-canvas{
  outline:0;
}

img{width: 200px;
 height:200px;
 cursor:pointer;
 padding:20px;
}

#container{  

width:100%;
height: 100%;
min-height: 100%;
position:fixed;
top:0;
left:0;
/* default fallback */
background: rgb(128, 128, 128) transparent;
/* nice browsers */
background: rgba(128, 128, 128, 0.8);


}



.trackWindow{
font-size: 100%;
width:800px;
min-height:400px;
margin:0 auto;
background: #fff;
border:1px solid #000;
position:fixed;
top: 50%;
left: 50%;
margin-top:-200px;
margin-left: -400px;
/*background: rgb(255, 255, 255) transparent;
 nice browsers 
background: rgba(255, 255, 255, 0.8);*/
padding: 20px;
}

/*.trackWindow p{
padding:20px;
}*/

.close {

  float:right;
  background: url("../images/close.png") no-repeat top left;
  display: block;
  width:20px;
  height:20px;
  background-size: 20px 20px;
  text-indent:  -9999px;
  cursor:pointer;
  margin:10px;
}



